.text-collumn {
    font-size: 13px;
}
    
.sleep {
    margin-top: 50px;
}

.img-partner {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.btn {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 250px;
}